@media (max-width: 991px) {
    #menu {
        width: 80vw;
    }

    #menu ul li a {
        text-decoration: none;
        color: #fff;
        display: block;
        font-size: 1rem;
        margin-bottom: 0.75em;
    }

    #notice {
        width: 75vw;
        left: 12.5vw;
    }

    #schedule .splide-auto a p {
        font-size: 0.8rem;
    }

    #keuntungan h4 {
        font-size: 10px;
    }

    #step {
        overflow-x: scroll !important;
    }

    #step a {
        text-align: left;
    }

    #step .active h3::after {
        margin: 0px !important;
        position: absolute;
        left: 0px;
        bottom: -38px;
        width: 180px;
        position: absolute;
    }

    #step-container {
        overflow: hidden;
        position: relative;
    }

    #step h3 {
        padding-bottom: 10px;
        margin-bottom: 0px;
    }


}