@media (max-width: 991px) {
    #menu {
        width: 80vw;
    }

    #menu ul li a {
        text-decoration: none;
        color: #fff;
        display: block;
        font-size: 1rem;
        margin-bottom: 0.75em;
    }

    #notice {
        width: 75vw;
        left: 12.5vw;
    }

    #schedule .splide-auto a p {
        font-size: 0.8rem;
    }
}